<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> "CampGrounds-India" </title>

    <!-- Tailwind CSS CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Custom Tailwind Config -->
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        primary: '#1E40AF',  /* Blue */
                    secondary: '#64748B'
                    }
                }
            }
        };
    </script>
    <style>
        body { color: #1E40AF; } /* Forces text to be blue */
    </style>    
</head>
<body>
    <%-include('../layouts/navbar')%>  
    <div class="text-center mt-6">
        <%- body %>  <!-- This is where the dynamic content will be injected -->
    </div>

</body>
</html>