<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lucknow Locations</title>
</head> -->
<%layout('layout/boilerplate.ejs') %>
<!-- <body> -->
    <h2 class="text-4xl font-bold text-gray-800">These are the Prime camping locations in Lucknow</h2>
    <% for(let eachcamp of campgrounds){ %>
        <ul>
            <li class="mt-4 text-blue-500 hover:text-blue-700"><a href="/campgrounds/<%=eachcamp._id%>"><%= eachcamp.title %></a></li>
        </ul>
        <%}%>
        <div class="mt-4">
            <a href="/campgrounds/new" class=" py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">Add New Camp</a>
        </div>
<!-- </body>
</html> -->