<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New CampGround</title>
</head>
<body> -->
    <% layout('layout/boilerplate.ejs') %>

    <form action="/campgrounds" method="post">
        <div class="ml-8">
            <label for="title" class="text-lg">Title</label>
            <input type="text" id="title" name="campground[title]" class="w-50 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
        </div>
        <div class="mt-4">
            <label for="location" class="text-lg">Location</label>
            <input type="text" id="location" name="campground[location]" class="w-50 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
        </div>
        <div class="mt-4">
            <label for="location" class="text-lg">Description</label>
            <input type="text" id="location" name="campground[description]" class="w-50 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
        </div>
        <div class="mt-4">
            <label for="location" class="text-lg">Image Url</label>
            <input type="text" id="location" name="campground[image]" class="w-50 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
        </div>
        <div class="mt-4">
            <label for="location" class="text-lg">Price</label>
            <input type="text" id="location" name="campground[price]" class="w-50 px-4 py-2 border border-gray-300 rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500">
        </div>
        <div>
            <button class="mt-4 ml-8 py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">Add Camp</button>
        </div>
        <br>
        <a href="/campgrounds" class="ml-8 py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">All Camps</a>
    </form>
<!-- </body>
</html> -->