<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show</title>
</head>
<body> -->
    <!-- <h2>Here we will showcase each city individually.</h2> -->
    <% layout('layout/boilerplate.ejs') %>

     <h2 class="text-lg"><%= campground.title %></h2>
     <h3 class="text-lg"><%= campground.location %></h3>
     <div>
        <form action="/campgrounds/<%=campground._id %>?-method=DELETE" method="post">
            <button class="mt-4 py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">Delete</button>
        </form>
     </div >
     <div class="mt-4">
        <a href="/campgrounds/<%=campground._id %>/edit" class="mt-4 py-2 px-4 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-300">Edit</a>
     </div>
     <br>
     <div>
        <a href="/campgrounds" class=" px-4 py-2 bg-blue-500 text-white font-semibold rounded-lg hover:bg-blue-60 focus:outline-none focus:ring-2 focus:ring-blue-300">All Camps</a>
     </div>
<!-- </body>
</html> -->